<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    #myInput {
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}


#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr:hover {
  background-color: #f1f1f1;
}
body {
    background-image: url(file.png);
}
  </style>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table id ="myTable" class="table">

    <% @events.each do |event| %>
      <tr>
        <td> <%= event.name %> </td>
        <td><%= link_to 'Show', event %></td>
        <% if current_user.adminflag==1%>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td>
        <% if current_user.adminflag!=1%>
          <% if event.numberofteams != event.maxnumberofteams %>
          <%= link_to 'Register', register_event_path(event.name) %>
          <% else %>
          Sorry! Regitration Closed
          <% end %>
        <% end %> 
        </td>          
      </tr>
    <% end %>
 
</table>

<br>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
<br>

</body>
