<% if current_user.adminflag? %>
  <h1>Respond to Query</h1>
 <% end %>

<%= form_for(@query) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <!-- <p> <%= @query.question %></p> -->
  <div class="form-inputs">
    <%= f.label :Question %><br><br>
    <%= @query.question %><br><br>
    <%= f.label :answer %><br>
    <%= f.text_area :answer, required: true %> <br><br>
    <%= f.submit %>
  </div>
<% end %>
<!-- <%= link_to 'Show', @query %> | -->
<%= link_to 'Back', viewqueries_path %>
